<!-- Add icons to the links using the .nav-icon class
     with font-awesome or any other icon font library -->

        <li class="nav-item">
            <a class="dropdown-item" asp-area="Manufacturer" asp-controller="Kitchens" asp-action="All">Kitchens</a>
        </li>


