@model CityFormModel

@{
    ViewBag.Title = "Add City";
}
<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <h2 class="heading-margin text-center">@ViewBag.Title</h2>
         <div asp-validation-summary="All" class="text-danger"></div>
        <form method="post">

            <div class="form-group">
                <label asp-for="CountryId"></label>
                <select asp-for="CountryId" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                    @foreach (var country in Model.Countries)
                    {
                        <option value="@country.Id">@country.Name</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <input class="btn btn-primary mt-3" type="submit" value="Save" />

        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


