<!-- Add icons to the links using the .nav-icon class
     with font-awesome or any other icon font library -->
<li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle text-dark" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Users</a>

    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li class="nav-item">
            <a class="dropdown-item" asp-area="Admin" asp-controller="Users" asp-action="All">Admin Users</a>
        </li>
    </ul>
</li>

<li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle text-dark" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Manufacturers</a>

    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li class="nav-item">
            <a class="dropdown-item" asp-area="Admin" asp-controller="Manufacturers" asp-action="All">Admin Manufacturers</a>
        </li>
        <li><hr class="dropdown-divider"></hr></li>
        <li> <a class="dropdown-item" asp-area="" asp-controller="Manufacturers" asp-action="All">All Manufacturers</a></li>
    </ul>
</li>

<li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle text-dark" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categories</a>

    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li class="nav-item">
            <a class="dropdown-item" asp-area="Admin" asp-controller="Categories" asp-action="All">Admin Categories</a>
        </li>
    </ul>
</li>

<li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle text-dark" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Kitchens</a>

    <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
        <li class="nav-item">
            <a class="dropdown-item" asp-area="Admin" asp-controller="Kitchens" asp-action="All">Admin Kitchens</a>
        </li>
        <li><hr class="dropdown-divider"></hr></li>
        <li> <a class="dropdown-item" asp-area="" asp-controller="Kitchens" asp-action="All">All Kitchens</a></li>
        <li><hr class="dropdown-divider"></hr></li>
        <li> <a class="dropdown-item" asp-area="" asp-controller="Categories" asp-action="ByName" asp-route-name="L-Shaped kitchen">L-Shaped kitchen</a></li>
        <li> <a class="dropdown-item" asp-area="" asp-controller="Categories" asp-action="ByName" asp-route-name="U-Shaped kitchen">U-Shaped kitchen</a></li>
        <li> <a class="dropdown-item" asp-area="" asp-controller="Categories" asp-action="ByName" asp-route-name="Island kitchen">Island kitchen</a></li>
        <li> <a class="dropdown-item" asp-area="" asp-controller="Categories" asp-action="ByName" asp-route-name="One-wall kitchen">One-wall kitchen</a></li>
        <li> <a class="dropdown-item" asp-area="" asp-controller="Categories" asp-action="ByName" asp-route-name="G-Shape Kitchen">G-Shape Kitchen</a></li>
        <li> <a class="dropdown-item" asp-area="" asp-controller="Categories" asp-action="ByName" asp-route-name="Galley Kitchen">Galley Kitchen</a></li>
    </ul>
</li>


