<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - My Kitchen</title>
    <script src="https://cdn.tiny.cloud/1/00u059bgi50w8wudzqzx6fy2mf02mbb5eix88sp4k8tgy759/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="~/css/style.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/datatables/media/css/jquery.dataTables.min.css" asp-append-version="true" rel="stylesheet"/>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"  />
    <link href="~/css/site.css" asp-append-version="true" rel="stylesheet"  />
    <link href="~/MyKitchen.styles.css" asp-append-version="true" rel="stylesheet"  />
</head>
<body>

    <div id="wrapper" class="wrapper">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="/images/logo/kitchen.svg" width="30" height="30" /> My Kitchen</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Kitchens</a>

                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li> <a class="dropdown-item" asp-controller="Kitchens" asp-action="All">All Kitchens</a></li>
                                 <li><hr class="dropdown-divider"></hr></li>
                                 <li> <a class="dropdown-item" asp-controller="Kitchens" asp-action="My">My Kitchens</a></li>
                                <li><hr class="dropdown-divider"></hr></li>
                                <li> <a class="dropdown-item" asp-controller="Kitchens" asp-action="Collection" >Collection</a></li>
                                <li><hr class="dropdown-divider"></hr></li>
                                <li> <a class="dropdown-item" asp-controller="Categories" asp-action="ByName" asp-route-name="L-Shaped kitchen">L-Shaped kitchen</a></li>
                                <li> <a class="dropdown-item" asp-controller="Categories" asp-action="ByName" asp-route-name="U-Shaped kitchen">U-Shaped kitchen</a></li>
                                <li> <a class="dropdown-item" asp-controller="Categories" asp-action="ByName" asp-route-name="Island kitchen">Island kitchen</a></li>
                                <li> <a class="dropdown-item" asp-controller="Categories" asp-action="ByName" asp-route-name="One-wall kitchen">One-wall kitchen</a></li>
                                <li> <a class="dropdown-item" asp-controller="Categories" asp-action="ByName" asp-route-name="G-Shape Kitchen">G-Shape Kitchen</a></li>
                                <li> <a class="dropdown-item" asp-controller="Categories" asp-action="ByName" asp-route-name="Galley Kitchen">Galley Kitchen</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Manufacturers</a>

                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li> <a class="dropdown-item" asp-controller="Manufacturers" asp-action="All">All Manufacturers</a></li>
                                <li><hr class="dropdown-divider"></hr></li>
                                <li> <a class="dropdown-item" sp-controller="Manufacturers" asp-action="Add">Add Manufacturer</a></li>
                            </ul>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="ranna-bg-dark">
            <div class="container">
                &copy; @DateTime.UtcNow.Year - My Kitchen
            </div>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/media/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
